
/*
*CONTENEDORES QUE SE UTILIZARON  
*/

/*
*CONTENEDOR #1 TINE LA PORTADA CON LA IMAGEN
*/
.subcontainer{
    border: 8px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-radius: 10px;
    margin-top: 3%; 
}

/*
*CONTENEDOR #2 CONTINE EL CONTENIDO DE DATOS PERSONALES
*/
.subcontainer-2{
    border: 0.5px solid black;
    border-right: 8px solid black;
    border-bottom: 8px solid black;
    padding: 0px 10px;
    margin-top: 2%;
    
}

/*
*CONTENEDOR #3 CONTIENE LOS DATOS DE LA FROMACIÓN ACADÉMICA
*/
.subcontainer-3{
    border: 0.5px solid black;
    border-right: 8px solid black;
    border-bottom: 8px solid black;
    padding: 0px 10px;
    margin-top: 2%;
}

/*
*CONTENEDOR #4 CONTIENE LA EXPERIENCIA LABORAL
*/
.subcontainer-4{
    border: 0.5px solid black;
    border-right: 8px solid black;
    border-bottom: 8px solid black;
    padding: 0px 10px;
    margin-top: 2%;
}

/*
*CONTIENE EL TIEMPO TOTAL DE LA EXPERIENCIA
*/
.subcontainer-5{
    /* border-right: 8px solid black;
    border-bottom: 8px solid black;
    padding: 0px 10px; */
    margin-top: 2%;
}

/*
*ESTA CONTENEDOR ESTA DISEÑADA PARA LA FIRMA DEL SERVIDO PUBLICO Y DEL CONTRATISTA
*/
.subcontainer-6{
    /* border-right: 8px solid black;
    border-bottom: 8px solid black;
    padding: 0px 10px; */
    margin-top: 2%;

}

/*
*ESTE CONTENEDOR ESTA PARA LAS OBSERVACIONES DEL DEJE
*/
.subcontainer-7{
    /* border-right: 8px solid black;
    border-bottom: 8px solid black;
    padding: 0px 10px; */
    margin-top: 2%;
}

/*
*AJUSTES DEL CONTENEDOR #1
*/
/* TAMAÑO DE LA IMAGEN CONTENEDOR #1 */
.Escudo{
    width: 30%;
     
}
/* ALINEACION DE TEXTO */
.col-lg{
    text-align: center;
}
/* AJUSTES PARA EL INPUT */
#boton{
    width: 60%;
    position: relative;
    left: 16%;
    margin-bottom: 10%;
}
/* AJUSTES DE LA LETRA */
.p{
    font-size: 12px;
    position: relative;
    top: 10px; 
}

/*
*AJUSTES DE LAS ETIQUETAS 
*/
/* MARGEN DE LA ETIQUETA */
.etiqueta{
    display: flex;
    margin-top: 2%;
}
/* TAMAÑO Y DISEÑO DEL NUMERO DE LA ETIQUETA */
.number{
    background-color: black;
    border-radius: 50%;
    color:white;
    width: auto; 
    text-align: center;
    padding: 0px 10px;
}
/* TAMAÑO Y DISEÑO DEL TEXTO DE LA ETIQUETA */
.text
{
    background-color: black;
    border-radius: 15px;
    color:white;
    width: auto; 
    text-align: center;
    position: relative;
    left: 1%;
    padding: 0px 10px;
    
}

/*
*DISEÑO DEL DATO INTERNO DEL CONTENEDOR #1
*/
/* DISEÑO DE LA FILA #1 Y LAS COLUMNAS */
#dacol1{
    border: 1px solid black;
    border-right: none;
}
#dacol2{
    border: 1px solid black;
    border-right: none;
}
#dacol3{
    border: 1px solid black;
}

/*
*AJUSTES ADICIONALES PARA DEL CONTENEDOR #1 
*/
#mover{
    margin-right: 10px;
    margin-left: 5px;
}
#pais{
    border: none; 
    border-bottom: 1px solid black;
    margin-right: 10px;
    width: 30%;
}
#ajustes{

    border: none; 
    border-bottom: 1px solid black;
    margin-right: 20px;
    margin-left: 10px;
    width: 30%;
    font-display: 1px;
}
#ajusancho{

    border: none; 
    border-bottom: 1px solid black;
    margin-right: 20px;
    margin-left: 10px;
    width: 38%;
    font-display: 1px;
}
#tiempo{
    width: 10%;
}

/*
*DISEÑO Y CONTENIDO DEL CONTENEDOR #2
*/
/* DISEÑO DE LA FILA #1 DEL CONTENEDOR #2 */
.subsubcontainer{
    margin-left:5%;
    margin-right:5%;
    margin-bottom:1%;
    border-radius: 10px;
    border: 1px solid black; 
    padding: 0px 10px;
}
#line{
    border-left:1px solid black;
}
#linefor{
    border-top: 1px solid black;
    margin-left:auto;
    margin-right:auto;
}
#formar{
    text-align: center; 
    border-right: 1px solid black;
}
#primari{
    display: flex;
    text-align: center;
}
#lineprimari{
    border-right: 1px solid black;
    border-top: 1px solid black;
    
}
#linesecun{
    border-top: 1px solid black;
}
#tiempo1{
    width: 10%;
    height: 65%;
}
/* DISEÑO DE LA FILA #2 DEL CONTENEDOR #2 */




/* DISEÑO DE LA FILA #3 DEL CONTENDDOR #2 */
.subidioma{
    border: 1px solid black;
    border-radius: 15px;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 1%;
    padding: 0px 10px;

}
#lineaidioma{
    border-left: 1px solid black;

}
/*
*CODIGO DE LA TABLA QUE HAY EN LA FINA #3 
*LOS DATOS IMPORTANTE DE ESTA TABLA SON TODO LOS QUE ESTAN ACONTINUACION
*POR LO MISMO SE RECOMIENDA NO TOCAR SI NO LO PUEDES ENTENDER
*/
#resulidioma{
    border-top: 1px solid black;
    border-right: 1px solid black;
}
#resulidioma2{
    border-top: 1px solid black;

}
#lin{
    border-top: 1px solid black;
    margin-right:  1%;
    margin-left:  1%;
    
}
#speak{
    border-bottom: 1px solid black;
    margin-right:  0%;
    margin-left:  2%;
}
#solucion{
    border-bottom: 1px solid black;
    margin-left: 1%;
}
/* lEER COMENTARIO ANTERIOR */



/* 
*CONTENEDOR #4 
*/
/* ENUNCIADOS DE LA EXPERIENCIA LABORAL */
#subtitle{
    border: 1px solid black;
    text-align: center;
    border-top: none;
}
#title{
    border: 1px solid black; 
    text-align: center;
}
/*
*COLUMAS DE LA EXPERIENCIA LABORAL FILAS Y COLUMNAS
*/
#excol1{
    border: 1px solid black;
    border-right: none;
    border-top: none;
}
#excol2{
    border: 1px solid black;
    border-right: none;
    border-top: none;
}
#excol3{
    border: 1px solid black;
    border-right: none;
    border-top: none;
}
#excol4{
    border: 1px solid black;
    border-top: none;
}
/*
*MODIFICACION DE LAS FILAS Y LA COLUMNAS DE LA FILA #1 CONTENEDOR #4
*/
#excol01{
    border: 1px solid black;
    border-right: none;
    border-top: none;
    padding: 5px;
}
#excol02{
    border: 1px solid black;
    border-right: none;
    border-top: none;
}
#excol03{
    border: 1px solid black;
    border-top: none;
    padding: 5px;
}
